<ion-header>
  <ion-toolbar>
    <ion-title>product-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-main">
    <ion-card>
   <!--   <div class="btn-icon">
        <img class="user-image" src= {{p.image}} />
      </div>
    <div class="content-title">
      <ion-card-header>
        <ion-card-title>{{p.displayName}}</ion-card-title>
        <ion-card-subtitle color="dark"><b>${{p.price}}</b></ion-card-subtitle>
      </ion-card-header>
    </div> -->
    </ion-card>
  </div>
</ion-content>
