<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="openCustom()">
      <ion-menu-button auto-hide="false" menu="admin-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Todos los usuarios
      <!--<ion-searchbar [animated]="true" placeholder="Buscar" autocorrect autocomplete (ionInput)="onSearch(usuarios.displayName)"></ion-searchbar>-->
    </ion-list-header>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <div>
            <ion-label>
              Imagen
            </ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-label size="3">
              Nombre
            </ion-label>
          </div>
        </ion-col>
        <ion-col size="3" size-sm>
          <div>
            <ion-label>
              Email
            </ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-label>
              Telefono
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngFor="let u of usuarios | async">
      <ion-item> 
        <ion-avatar slot="start">
          <img src={{u.photoURL}}>
        </ion-avatar>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div>
                <ion-label>
                  <h2>{{u.displayName}}</h2>
                </ion-label>
              </div>
            </ion-col>
            
            <ion-col size="6">
              <div>
                <ion-label>
                  <h3>{{u.email}}</h3>
                </ion-label>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-label>
                  <p>{{u.numberPhone}}</p>
                </ion-label>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-label>
                  <p>{{u.description}}</p>
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <div>
                <ion-label>
                  Direccion
                </ion-label>
              </div>
            </ion-col>
            <ion-col >
              <div>
                <ion-label>
                  <h2>{{u.address}}</h2>
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>

  
</ion-content>
