<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="openCustom()">
      <ion-menu-button auto-hide="false" menu="admin-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>admin-main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Card USUARIOS-->
  <div class="content-main">
    <ion-card>
      <div class="btn-icon">
        <img class="user-total" src="../assets/imagenes/total.png" />
      </div>
     <div class="content-title">
      <ion-card-header>
        <ion-card-subtitle>Total De Usuarios</ion-card-subtitle>
        <ion-card-title>#Numero</ion-card-title>
      </ion-card-header>
     </div>
    </ion-card>
  </div>
  

  <!-- Card ORDENES-->
<div class="content-main-2">
    <ion-card>
      <div class="btn-icon">
        <img class="user-total" src="../assets/imagenes/total.png" />
      </div>
     <div class="content-title">
      <ion-card-header>
        <ion-card-subtitle>Total Ordenes</ion-card-subtitle>
        <ion-card-title>#Numero</ion-card-title>
      </ion-card-header>
     </div>
    </ion-card>
  </div>

  <!-- Card PRODUCTOS-->
  <div class="content-main-3">
    <ion-card>
      <div class="btn-icon">
        <img class="user-total" src="../assets/imagenes/total.png" />
      </div>
     <div class="content-title">
      <ion-card-header>
        <ion-card-subtitle>Total Productos</ion-card-subtitle>
        <ion-card-title>#Numero</ion-card-title>
      </ion-card-header>
     </div>
    </ion-card>
  </div>

  <!-- Card CATEGORIAS-->
  <div class="content-main-4">
    <ion-card>
      <div class="btn-icon">
        <img class="user-total" src="../assets/imagenes/total.png" />
      </div>
     <div class="content-title">
      <ion-card-header>
        <ion-card-subtitle>Total Categorías</ion-card-subtitle>
        <ion-card-title>#Numero</ion-card-title>
      </ion-card-header>
     </div>
    </ion-card>
  </div>
 
</ion-content>
