<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start" (click)="openFirst()">
        <ion-menu-button auto-hide="false" menu="user-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <div class = "gfg">
          <img class="logo" src="../assets/imagenes/MediShop1.png">
        </div>
    </ion-title>
    </ion-toolbar>
    <div class="content-icon">
      <ion-icon class="icon-cart" name="cart-outline" (click)= "navCarrito()"></ion-icon>
    </div>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="onScroll($event)" [fullscreen]="true">

  <!--Icono de refrescar el contenido-->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <ion-row class="sticky-row">
    <ion-col size="12" class="ion-padding-start"
    [ngClass]="{'location-visible': showLocationDetail}">
      <ion-searchbar 
        placeholder="Proteinas, vitaminas o medicinas" 
        [(ngModel)] = "searchTerm" 
        showCancelButton="focus" 
        animated>
      </ion-searchbar>
    </ion-col>
  </ion-row>
 

  <!-- SLIDER DE CATEGORIAS -->
  <ion-slides [options]="catSlideOpts">
    <ion-slide ngClass="slide-Cat" *ngFor="let cat of categories | async" (click)= "showCategory(cat.uid, cat.name)">
     
        <div class="padre">
          <img class="photo-cat" src= {{cat.photoURL}}>  
          <div class="son">
            <ion-label>{{cat.name}}</ion-label>
            <ion-input type="hidden" value={{cat.uid}}></ion-input>
          </div>
        </div>

    </ion-slide>
  </ion-slides>

  <!-- SLIDER DE BANNERS -->
  <ion-slides [options]="highlightSlideOpts">
    <ion-slide *ngFor="let h of highlights">
      <img [src]="h.url">
    </ion-slide>
  </ion-slides>
 
  <!-- CATEGORIA PROTEINAS -->
  <div class="content-seg">
      <ion-text color="dark"><b>Proteinas</b></ion-text>

      <ion-button (click)= " showCategory(proteinUID, 'Proteina')" shape="round" fill="clear">Ver más<ion-icon slot="end" name="chevron-forward-outline" ></ion-icon></ion-button>
  </div>

    <ion-slides [options]="prodSlideOpts">
      <ion-slide *ngFor="let p of proteinas | async | filter:searchTerm">
        <!-- Card PRODUCTO -->
        <div class="content-main">
          <ion-card (click)= "showProduct(p.uid)">
            <div class="btn-icon">
              <img class="user-image" src= {{p.image}} />
            </div>
          <div class="content-title">
            <ion-card-header>
              <ion-card-title>{{p.displayName}}</ion-card-title>
              <ion-card-subtitle color="dark"><b>${{p.price}}</b></ion-card-subtitle>
            </ion-card-header>
          </div>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>


     <!-- CATEGORIA NUTRICION -->
  <div class="content-seg">
  
    <ion-text color="dark"><b>Nutrición</b></ion-text>

    <ion-button (click)= " showCategory(nutricionUID, 'Nutricion')" shape="round" fill="clear">Ver más<ion-icon slot="end" name="chevron-forward-outline" ></ion-icon></ion-button>
  
</div>

  <ion-slides [options]="prodSlideOpts">
    <ion-slide *ngFor="let n of nutricion | async | filter:searchTerm">
      <!-- Card PRODUCTO -->
      <div class="content-main">
        <ion-card (click)= "showProduct(n.uid)">
          <div class="btn-icon">
            <img class="user-image" src= {{n.image}} />
          </div>
        <div class="content-title">
          <ion-card-header>
            <ion-card-title>{{n.displayName}}</ion-card-title>
            <ion-card-subtitle color="dark"><b>${{n.price}}</b></ion-card-subtitle>
          </ion-card-header>
        </div>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>
 
  <!--
  <ion-text color="dark"><b style="padding-left: 10px;">Featured</b></ion-text>

  <ion-slides [options]="featuredSlideOpts">
    <ion-slide *ngFor="let f of featured" class="featured-slide" 
    routerLink="/details">
    <img [src]="f.img">

    <div class="info">
      <ion-text color="dark"><b>{{f.name }}</b></ion-text>
      <span>
        <ion-icon name="star" color="secondary"></ion-icon>
        <ion-text color="secondary"> {{ f.rating }} </ion-text>{{ f.ratings }}
      </span>
      <span>
        <ion-icon name="location-outline"></ion-icon> {{ f.distance }}
      </span>
    </div>
    
    </ion-slide>
  </ion-slides>

  <ion-slides [options]="featuredSlideOpts">
    <ion-slide *ngFor="let f of featured" class="featured-slide" 
    routerLink="/details">
    <img [src]="f.img">

    <div class="info">
      <ion-text color="dark"><b>{{f.name }}</b></ion-text>
      <span>
        <ion-icon name="star" color="secondary"></ion-icon>
        <ion-text color="secondary"> {{ f.rating }} </ion-text>{{ f.ratings }}
      </span>
      <span>
        <ion-icon name="location-outline"></ion-icon> {{ f.distance }}
      </span>
    </div>
    
    </ion-slide>
  </ion-slides>

  <ion-slides [options]="featuredSlideOpts">
    <ion-slide *ngFor="let f of featured" class="featured-slide" 
    routerLink="/details">
    <img [src]="f.img">

    <div class="info">
      <ion-text color="dark"><b>{{f.name }}</b></ion-text>
      <span>
        <ion-icon name="star" color="secondary"></ion-icon>
        <ion-text color="secondary"> {{ f.rating }} </ion-text>{{ f.ratings }}
      </span>
      <span>
        <ion-icon name="location-outline"></ion-icon> {{ f.distance }}
      </span>
    </div>
    
    </ion-slide>
  </ion-slides>

  <ion-slides [options]="featuredSlideOpts">
    <ion-slide *ngFor="let f of featured" class="featured-slide" routerLink="/details">
      <img [src]="f.img">

      <div class="info">
        <ion-text color="dark"><b>{{f.name }}</b></ion-text>
        <span>
          <ion-icon name="star" color="secondary"></ion-icon>
          <ion-text color="secondary"> {{ f.rating }} </ion-text>{{ f.ratings }}
        </span>
        <span>
          <ion-icon name="location-outline"></ion-icon> {{ f.distance }}
        </span>
      </div>
    
    </ion-slide>
  </ion-slides>
-->
  
</ion-content>